*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace,sans-serif;
    background-color: black;
}
.App{
    
}
header {
    background-image: linear-gradient(to right, purple, blue);
    box-shadow: 0 3px 6px rgba(0, 0,0,0.2);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

header input{
    display: inline-block;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    background:none;
    outline: none;
    border: none;
    appearance: none;
    
}

header:before{
    display: inline-block;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    content: '/r/';
}

.articles article{
    padding: 30px 15px;
    border: 1px solid white;
    background-color: none;
}
.articles article a {
    text-decoration: none;
    background-color: none;
}

.articles article h3{
    color: white;
    background-color: none;
} 
.articles article:nth-child(2n){
    background-color: none;
}
.articles article:hover{
    background-image: linear-gradient(to left, purple, blue);
}
.articles{
    width: 100%;
    border: 15px dashed purple;
    margin:auto;
    background-color: none;
    
    
}
Article h3{
    background-color: transparent;
}
